.letter-button {
  height:50px;
  width:50px;

  margin:5px;
}

.btn:disabled{
  color:black
}

.btn90{
  transform: rotate(90deg)
}

.btn180{
  transform: rotate(180deg);
}


.btn270{
  transform: rotate(270deg)
}

#board-container{
  text-align: center;
}


#timer-count-down{

  font-size: -webkit-xxx-large;
  display: flex;
  justify-content: center;

}

